<?xml version="1.0" encoding="UTF-8" ?>

<!--============================================================
	Deployment Descriptor: web.xml
=============================================================-->
<web-app version="4.0"
		 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<display-name>Hello welcome world!</display-name>

	<welcome-file-list>
		<welcome-file>/WEB-INF/views/welcome.jsp</welcome-file>
		<welcome-file>/WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list>

<!--============================================================
	Controller
=============================================================-->
	<servlet>
		<servlet-name>indexController</servlet-name>
		<servlet-class>taxi.controller.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>indexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

<!--============================================================
	Error page
=============================================================-->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/WEB-INF/views/errorPage.jsp</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/errorPage.jsp</location>
	</error-page>
</web-app>
